<%= form_for([@patient, @grading], html: {multipart: true}) do |f| %>
  <% if @grading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grading.errors.count, "error") %> prohibited this grading from being saved:</h2>

      <ul>
      <% @grading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :right_eye_verdict %><br>
    <%= f.text_field :right_eye_verdict %>
  </div>
  <div id = 'right'>
    <%= f.fields_for :rights do |r| %>
    <%= render 'right_fields', f: r %>
    <% end %>
    <%= link_to_add_association 'Add Grading parameters', f, :rights %>
  </div>

  <div class="field">
    <%= f.label :left_eye_verdict %><br>
    <%= f.text_field :left_eye_verdict %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
