<div class="nested-fields">
	<%= f.check_box :microaneurysms %>
	<%= f.label :microaneurysms %>
	<%= f.check_box :flame_haemorrhages %>
	<%= f.label :flame_haemorrhages %>
	<%= f.check_box :cotton_wool_spots %>
	<%= f.label :cotton_wool_spots %>
	<%= f.check_box :irma %>
	<%= f.label :irma %>
	<%= f.check_box :venous_beading %>
	<%= f.label :venous_beading %>
	<%= f.check_box :vessels_elsewhere %>
	<%= f.label :vessels_elsewhere %>
	<%= f.check_box :vessels_at_disc %>
	<%= f.label :vessels_at_disc %>
	<%= f.check_box :vitreous_haemorrhages %>
	<%= f.label :vitreous_haemorrhages %>
	<%= f.check_box :retinal_detachment %>
	<%= f.label :retinal_detachment %>
	<%= link_to_remove_association 'Remove', f %>
</div>