<p id="notice"><%= notice %></p>

<h1>Listing Gradings for <%= @patient.fullName %></h1>
<p>Total: <%= @patient.gradeCount %></p>
<table>
  <thead>
    <tr>
      <th>Right eye verdict</th>
      <th>Left eye verdict</th>
      <th>Test Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gradings.each do |grading| %>
      <tr>
        <td><%= grading.right_eye_verdict %></td>
        <td><%= grading.left_eye_verdict %></td>
        <td><%= grading.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= link_to 'Show', patient_grading_path(@patient, grading) %></td>
        <td><%= link_to 'Edit', edit_patient_grading_path(@patient, grading) %></td>
        <td><%= link_to 'Destroy', patient_grading_path(@patient, grading), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grading', new_patient_grading_path(@patient) %>
