<p id="notice"><%= notice %></p>

<p>
  <strong>Right eye verdict:</strong>
  <%= @grading.right_eye_verdict %>
</p>
<p>
	<strong>Microaneurysms: </strong>
	<%= @right.microaneurysms %>
</p>
<p>
	<strong>Flame Haemorrhages: </strong>
	<%= @right.flame_haemorrhages %>
</p>
<p>
	<strong>Cotton Wool Spots: </strong>
	<%= @right.cotton_wool_spots %>
</p>
<p>
	<strong>IRMA: </strong>
	<%= @right.irma %>
</p>
<p>
	<strong>Venous beading: </strong>
	<%= @right.venous_beading %>
</p>
<p>
	<strong>Vessels elsewhere: </strong>
	<%= @right.vessels_elsewhere %>
</p>
<p>
	<strong>Vessels at disc: </strong>
	<%= @right.vessels_at_disc %>
</p>
<p>
	<strong>Vitreous Haemorrhages: </strong>
	<%= @right.vitreous_haemorrhages %>
</p>
<p>
	<strong>Retinal detachment: </strong>
	<%= @right.retinal_detachment %>
</p>
<p>
  <strong>Left eye verdict:</strong>
  <%= @grading.left_eye_verdict %>
</p>

<%= link_to 'Edit', [:edit, @patient, @grading] %> |
<%= link_to 'Back', patient_gradings_path(@patient) %>
